.button-cont-delete {
    display: none;
    background-color: #CE5A67 !important;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    padding: .2rem .22rem;
}

.button-cont-delete:hover {
    border-color: #B9B4C7;
}
.icon {
    width: 2rem;
    height: 2rem;
    padding-bottom: 1rem;
}